<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMfDw7NsbJZocTN43fSLFmEZVTone4wSI</string>
	<key>GCM_SENDER_ID</key>
	<string>323935471456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.phephamv.isdp</string>
	<key>PROJECT_ID</key>
	<string>phepha-mv-isdp</string>
	<key>STORAGE_BUCKET</key>
	<string>phepha-mv-isdp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323935471456:ios:3285f0bc7aff8c8788c005</string>
</dict>
</plist>
